@model List<ResultSpecialRequestDto>

<div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rezervasyon Müşteri İstekleri</h4>
            <div id="activity">
                @foreach (var item in Model)
                {
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <img width="35" src="~/Images/user.png" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>@item.Name</h5>
                            <p class="mb-0">@item.SpecialRequest</p>
                        </div><span class="text-muted ">İstek Tarihi: @item.Checkin.ToShortDateString()</span>
                    </div>

                }
            </div>
        </div>
    </div>
</div>