@model List<BookingApiSearchLocationViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">

    @using (Html.BeginForm("Index", "SearchLocationID",FormMethod.Post))
    {
        <label>Şehir Adını Giriniz</label>
        <br />
        <input type="text" class="form-control" name="cityName">
        <br />
        <button style="border-block-start-color:aliceblue" class="btn btn-dark">Şehir Id'si Getir'</button>
    }

    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>Lokasyon</th>
        </tr>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.dest_id</td>   
                </tr>

        }
    </table>
    <br />

    <a href="/BookingByCity/Index/" class="btn btn-outline-primary">Oteli Göster</a>


</div>