@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MvcLayout/AdminLayout.cshtml";
}


@await Component.InvokeAsync("_DashboardHeadPartial")


<body>
    <div class="container-fluid mt-3">
        @await Component.InvokeAsync("_DashboardWidgetPartial")

        @await Component.InvokeAsync("_DashboardLast4StaffList")

        @await Component.InvokeAsync("_DashboardLast5Bookings")


@*         @await Component.InvokeAsync("_DashboardFollowersPartial") *@
    </div>
    @await Component.InvokeAsync("_DashboardScriptsPartial")

</body>


